<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tr.greenfuel">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".junge.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c4f139b20831d267048d55a804d39e0c" />
        <!-- android:value="68d1d17198bcc4b455b1246cdaa01c8d" -->
        <!-- android:value="c4f139b20831d267048d55a804d39e0c" -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".junge.GPSNaviActivity" />
        <activity android:name=".poiSearch.PoiSearchPageActivity" />
        <activity android:name=".nearFunction.NearActivity" />
        <activity android:name=".poiSearch.NearPoiSearchResultActivity" />
        <activity android:name=".poiSearch.PoiAroundSearchActivity" />
        <activity android:name=".RoutePlan.RouteActivity" />
        <activity android:name=".junge.pathProgramming.SetPath" />
        <activity android:name=".junge.pathProgramming.SelectPosition" />
        <activity android:name=".RoutePlan.RestRouteShowActivity"></activity>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".poiSearch.PoiByKeyWordsActivity" />
        <activity android:name=".junge.pathProgramming.MarkerPosition"></activity>
    </application>

</manifest>